<form action="/landmarks/<%=@landmark.id%>" method="post">
  <label>Landmark name</label>
  <input type="text" name="landmark[name]" value="<%=@landmark.name%>" id="name">

  <label>Year completed</label>
  <input type="text" name="landmark[year_completed]" value="<%=@landmark.year_completed%>" id="year_completed">

  <input type="submit" value="Edit Landmark">

</form>
