<form action="/landmarks" method="post">
  <label>Landmark name</label>
  <input type="text" name="landmark[name]" id="landmark_name">

  <label>Year completed</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  
  <input type="submit" value="Create Landmark">
</form>
